%h1= 'Edit an announcement here'
= form_for @announcement, action: 'update', class: 'form-horizontal' do |f| 
  .form-group
    = f.label 'Title', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label 'Date (optional)', class: 'col-sm-2 control-label'
    = f.date_select :date, class: 'col-sm-10'
  .form-group
    = f.label 'Description', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label 'Special notes', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :notes, class: 'form-control'
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit 'Save', class: 'btn btn-primary'
