= javascript_include_tag 'index'
= javascript_include_tag "announcements/announcements"
= javascript_include_tag 'search'

.wrapper#announcements_page
  .container
    %h1= 'Choose your announcements'
    %ul.nav.nav-pills.center#meetings
      - for i in 1..6
        %li(id="meeting#{i}" class="#{i == 1 ? "active" : ""}")
          %a.meeting_link= "Meeting #{i}"
    %form#announcement-search{ method: "GET", action: "/announcements" }
      %input.form-control#announcement-search-query{ type: "text", placeholder: "#search", name: "q", autocomplete: "off" }
    #export_bar
      =link_to "Export", '#', id: 'dl', class: 'btn btn-default'
      =link_to "Share on Facebook", '#', id: 'fb', class: 'btn btn-default'
      =link_to "Share on Twitter", '#', id: 'tw', class: 'btn btn-default'
    #wookmark_container
      - @announcements.each do |announcement|
        .event{id: announcement.id}
          - if announcement.date != nil
            %span.date.date_format= announcement.date.to_time.to_i
          .clearfix
          %h3= announcement.title
          %p= announcement.description
          - announcement.tag_list.each do |tag|
            %span.caption= '#' + tag
          %br
