= javascript_include_tag 'index'
= javascript_include_tag "announcements/announcements"
= javascript_include_tag 'search'

.wrapper#announcements_page
  .container
    %h1= 'Choose your announcements'
    %ul.nav.nav-pills.center#meetings
      %li.active#meeting_one
        %a.meeting_link= 'Meeting 1'
      %li#meeting_two
        %a.meeting_link= 'Meeting 2'
      %li#meeting_three
        %a.meeting_link= 'Meeting 3'
      %li#meeting_four
        %a.meeting_link= 'Meeting 4'
      %li#meeting_five
        %a.meeting_link= 'Meeting 5'
      %li#meeting_six
        %a.meeting_link= 'Meeting 6'
    %form#announcement-search{ method: "GET", action: "/announcements" }
      %input.form-control#announcement-search-query{ type: "text", placeholder: "#search", name: "q", autocomplete: "off" }
    #wookmark_container
      - @announcements.each do |announcement|
        .event{id: announcement.id}
          %h3= announcement.title
          %p= announcement.description
          - announcement.tag_list.each do |tag|
            %span.caption= '#' + tag
          %br
=link_to "Export", '#', id: 'export'
