= javascript_include_tag 'index'
= javascript_include_tag "announcements/announcements"

.wrapper#announcements_page
  .container
    %h1= 'Choose your announcements'
    %ul.nav.nav-pills.center#meetings
      - for i in 1..6
        %li(id="meeting#{i}" class="#{i == 1 ? "active" : ""}")
          %a.meeting_link= "Meeting #{i}"
    %form#announcement-search{ method: "GET", action: "/announcements" }
      %input.form-control#announcement-search-query{ type: "text", placeholder: "#search", name: "q", autocomplete: "off" }
    #wookmark_container
      - @announcements.each do |announcement|
        .event{data: {id: announcement.id}}
          %h3= announcement.title
          %p= announcement.description
          - announcement.tag_list.each do |tag|
            %span.caption= '#' + tag
          %br
=link_to "Export", '#', id: 'dl'
=link_to "Share on Facebook", '#', id: 'fb'
=link_to "Share on Twitter", '#', id: 'tw'
