= javascript_include_tag 'index'
= javascript_include_tag "announcements/announcements"

.wrapper#announcements_page
  .container
    %h1= 'Choose your announcements'
    %ul.nav.nav-pills.center#meetings
      - for i in 1..6
        %li(id="meeting#{i}" class="#{i == 1 ? "active" : ""}")
          %a.meeting_link= "Meeting #{i}"
      %li(id="meeting_all")
        %a.meeting_link= "All"
    .search_container.row
      %form#announcement-search.col-xs-10.pull-left{ method: "GET", action: "/announcements" }
        %input.form-control#announcement-search-query{ type: "text", placeholder: "#search", name: "q", autocomplete: "off" }
      %button.btn.btn-primary.pull-right.select_all="Select All"
    #export_bar
      =link_to "Export", '#', id: 'dl', class: 'btn btn-default export'
      =link_to "Share on Facebook", '#', id: 'fb', class: 'btn btn-default export'
      =link_to "Share on Twitter", '#', id: 'tw', class: 'btn btn-default export'
    #wookmark_container
      - @announcements.each do |announcement|
        .event{data: {id: announcement.id}}
          - if announcement.date
            %span.date.date_format= announcement.date.to_time.to_i
          - if announcement.location
            %p= announcement.location
          .clearfix
          %h3= announcement.title
          %p= announcement.description
          = text_field_tag :note_entry, '', class: 'form-control clearfix notes', placeholder: 'Special notes'
          - announcement.tag_list.each do |tag|
            %span.caption= '#' + tag
          %br
